body
{
  margin: 0;
  padding: 0;
  
  z-index: -10;
  background-image: url("/img/accretion/bg.png");
  background-position-x: center;
  background-position-y: 40%;
  background-attachment: fixed;
  background-size: 100%;
  background-color: black;
  color: white;
}

#AccretionContainerTemp
{
  margin: 2% auto 0;
  width: 92%;
  min-height: 80vh;
  
  overflow: hidden;
  
  background-color: rgba(0, 0, 0, .7);
  border: 2px solid #990040;
}